.gxaTooltip {
  border: solid transparent;
  color: darkslategray;
  padding: 2px;
  font: 10px Verdana, Helvetica, Arial, sans-serif;
  background-color: floralwhite;
}
.gxaTooltip table {
  margin: 0;
  /* overrides ebi-visual.css:134 */
  background-color: white;
  border: 1px solid lightgrey;
  border-collapse: collapse;
}
.gxaTooltip th {
  border-bottom: 1px solid lightgrey;
  background-color: floralwhite;
}
.gxaTooltip td {
  border: 1px solid lightgrey;
}
.gxaTooltip td,
.gxaTooltip .gxaTooltip th {
  vertical-align: middle;
  padding: 8px;
}
.gxaGeneTooltip {
  border: solid transparent;
  color: darkslategray;
  padding: 2px;
  font: 10px Verdana, Helvetica, Arial, sans-serif;
  background-color: floralwhite;
  max-width: 250px;
  text-align: justify;
}
.gxaGeneTooltip table {
  margin: 0;
  /* overrides ebi-visual.css:134 */
  background-color: white;
  border: 1px solid lightgrey;
  border-collapse: collapse;
}
.gxaGeneTooltip th {
  border-bottom: 1px solid lightgrey;
  background-color: floralwhite;
}
.gxaGeneTooltip td {
  border: 1px solid lightgrey;
}
.gxaGeneTooltip td,
.gxaGeneTooltip .gxaTooltip th {
  vertical-align: middle;
  padding: 8px;
}
.gxaGeneTooltip .propertyName {
  color: brown;
  font-weight: bold;
  display: inline-block;
  text-align: left;
  margin-right: 5px;
}
.gxaGeneTooltip .propertyValue {
  display: inline-block;
  text-align: center;
  background-color: #dfd5d5;
}
.gxaGeneTooltip .propertyValue:first-child {
  margin-left: 5px;
}
.gxaGeneTooltip .propertyValue + .propertyValue {
  margin-left: 5px;
}
.gxaContrastTooltip {
  border: solid transparent;
  color: darkslategray;
  padding: 2px;
  font: 10px Verdana, Helvetica, Arial, sans-serif;
  background-color: floralwhite;
  max-width: 500px;
  display: inline-block;
}
.gxaContrastTooltip table {
  margin: 0;
  /* overrides ebi-visual.css:134 */
  background-color: white;
  border: 1px solid lightgrey;
  border-collapse: collapse;
}
.gxaContrastTooltip th {
  border-bottom: 1px solid lightgrey;
  background-color: floralwhite;
}
.gxaContrastTooltip td {
  border: 1px solid lightgrey;
}
.gxaContrastTooltip td,
.gxaContrastTooltip .gxaTooltip th {
  vertical-align: middle;
  padding: 8px;
}
.gxaContrastTooltip .contrastPlots .info {
  font-style: italic;
  font-size: xsmall;
  align-content: right;
  text-align: right;
}
.gxaFactorTooltip {
  border: solid transparent;
  color: darkslategray;
  padding: 2px;
  font: 10px Verdana, Helvetica, Arial, sans-serif;
  background-color: floralwhite;
  max-width: 600px;
}
.gxaFactorTooltip table {
  margin: 0;
  /* overrides ebi-visual.css:134 */
  background-color: white;
  border: 1px solid lightgrey;
  border-collapse: collapse;
}
.gxaFactorTooltip th {
  border-bottom: 1px solid lightgrey;
  background-color: floralwhite;
}
.gxaFactorTooltip td {
  border: 1px solid lightgrey;
}
.gxaFactorTooltip td,
.gxaFactorTooltip .gxaTooltip th {
  vertical-align: middle;
  padding: 8px;
}
