.gxaFilter {
  .filterBody {
    .groupName {
      display: inline-block;
      cursor:pointer;
      &:hover{
        text-decoration: underline;
      }
    }
    .options {
      .option{
        margin: 5px;
      }
      padding-left: 10px;
      font-size: small;
    }
  }
}
