.nav  li.disabled  a {
    color: #aaa;
}

/*
Modify me massively brother especially them round corners
Put me in the global CSS after you're finished

*/
.nav-pills > li {
  float: left;
}
.nav-pills > li + li {
  margin-left: 2px;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
/*.nav-pills > li.active > a:focus {
  color: #fff;
  background-color: #337ab7;
}*/

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: #555;
    cursor: default;
    background-color: #fff;
    border-bottom-color: transparent;
    font-weight: bold;
}

/*BOOTSTRAP addition*/
.nav-pills li a:hover {
    color: #777;
}
.nav-pills li a {
    color: #207a7a;
    text-decoration: none;
}
.nav-pills > li.active > a {
    outline:0;
}
