.gxaHeatmapLegend {
  color: #606060;
  border: 0 solid olive;
}
.gxaHeatmapLegend .legend-item {
  display: inline-block;
  margin-left: 8px;
  padding: 4px;
  vertical-align: middle;
  cursor: default;
}
.gxaHeatmapLegend .legend-item.legend-item-off {
  color: #ccc;
}
.gxaHeatmapLegend .legend-item.legend-item-off div {
  background-color: #f7f7f7;
}
.gxaHeatmapLegend .legend-item .legend-rectangle {
  width: 12px;
  height: 12px;
  border: 1px rgba(0, 0, 0, 0.2) solid;
  display: inline-block;
  margin-right: 4px;
  vertical-align: middle;
}
.gxaHeatmapLegend .legend-item .gxaInfoIcon:before {
  font-size: 180%;
  color: #7e7e7e;
}
.gxaHeatmapLegend .legend-item:hover .gxaInfoIcon:before {
  color: #353535;
}
.gxaInfoIcon:before {
  font-family: 'EBI-Generic', 'sans-serif';
  font-size: 100%;
  color: #BBB;
  content: attr(data-icon);
  margin: 0 0 0 0;
}
